h2 {
    width: 100%;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
p {
    padding: 10px 30px 5px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.list{
    margin-top: 5px;
    height: 150px;
    width: 96%;
    left: 2%;
    top: 10px;
    position: relative;
    border-right: 3px solid white;
    transition: all 0.2s ease ;
}
.list:hover{
    border-right: 3px solid #ff0000;
}
.logoapp{
    position:relative;
    width: 20%;
    height: 110px;  
}
.logoapp img{
    text-align: center;
    height: 95%;
    width: 95%;
}
.description{
    position: relative;
    bottom: 110px;
    left: 21%;
    width: 70%;
    height: 110px;
}
.bttlink{
    width: 8%;
    position: relative;
    left: 92%;
    height: 110px;
    top: -220px;
    cursor: pointer;
    border-right: 3px solid white;
    transition: all 0.2s ease ;
}
.bttlink img{
    text-align: center;
    padding-top: 50%;
}
@media screen and (max-width:850px){
.list{
    height: 100%;
}
}